<!-- modal view pizzaOrder -->
<p-dialog header="Detalhes do pedido" [(visible)]="viewPizzaOrderModal" [modal]="true" [style]="{width: '70vw'}"
  *ngIf="pizzaOrder">
  <div>
    <!-- pizzaOrder -->
    <div class="p-grid">
      <div class="p-col-6">
        <h3>Pedidos</h3>
        <hr>
        <div *ngFor="let pizza of pizzaOrder.pizzas">
          <p><strong>Meio a meio: </strong>{{pizza.halfNHalf ? 'Sim' : 'Não'}}</p>
          <p><strong>Molho extra: </strong>{{pizza.extraSauce ? 'Sim' : 'Não'}}</p>
          <p><strong>Borda: </strong>{{pizza.crust}}</p>
          <p><strong>Sabor 1: </strong>{{pizza.mainFlavor}}</p>
          <p *ngIf="pizza.secondaryFlavor"><strong>Sabor 2: </strong>{{pizza.secondaryFlavor}}</p>
          <p><strong>Tamanho: </strong>{{pizza.size}}</p>
          <p><strong>Observação: </strong>{{pizza.note}}</p>
        </div>
      </div>
      <div class="p-col-6">
        <h3>Endereço de entrega</h3>
        <hr>
        <p><strong>Endereço: </strong>{{pizzaOrder.deliveryAddress.streetAddress}}</p>
        <p><strong>Número: </strong>{{pizzaOrder.deliveryAddress.number}}</p>
        <p><strong>Complemento: </strong>{{pizzaOrder.deliveryAddress.complement}}</p>
        <p><strong>Bairro: </strong>{{pizzaOrder.deliveryAddress.neighborhood}}</p>
        <p><strong>Cidade: </strong>{{pizzaOrder.deliveryAddress.city}}</p>
        <p><strong>Estado: </strong>{{pizzaOrder.deliveryAddress.state}}</p>
        <p><strong>CEP: </strong>{{pizzaOrder.deliveryAddress.zipCode}}</p>
      </div>
    </div>

    <!-- client -->
    <div class="p-grid">
      <div class="p-col-6">
        <h3>Cliente</h3>
        <hr>
        <p><strong>Nome: </strong>{{pizzaOrder.client.fullName}}</p>
        <p><strong>CPF: </strong>{{pizzaOrder.client.identityId}}</p>
        <p><strong>E-mail: </strong>{{pizzaOrder.client.clientContacts.email}}</p>
        <p><strong>Telefone: </strong>{{pizzaOrder.client.clientContacts.phone}}</p>
      </div>
      <div class="p-col-6">
        <h3>Endereço</h3>
        <hr>
        <p><strong>Endereço: </strong>{{pizzaOrder.client.clientAddress.streetAddress}}</p>
        <p><strong>Número: </strong>{{pizzaOrder.client.clientAddress.number}}</p>
        <p><strong>Complemento: </strong>{{pizzaOrder.client.clientAddress.complement}}</p>
        <p><strong>Bairro: </strong>{{pizzaOrder.client.clientAddress.neighborhood}}</p>
        <p><strong>Cidade: </strong>{{pizzaOrder.client.clientAddress.city}}</p>
        <p><strong>Estado: </strong>{{pizzaOrder.client.clientAddress.state}}</p>
        <p><strong>CEP: </strong>{{pizzaOrder.client.clientAddress.zipCode}}</p>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton (click)="closeViewModal()" label="Ok" class="p-button-warning"></button>
  </ng-template>
</p-dialog>


<!-- modal delete pizzaOrder -->
<p-dialog header="Atenção!" [(visible)]="deletePizzaOrderModal" [modal]="true" [style]="{width: '35vw'}"
  *ngIf="pizzaOrder">
  <div>
    <p>Tem certeza que deseja excluir este pedido?</p>
  </div>
  <ng-template pTemplate="footer">
    <button pButton (click)="closeDeleteModal()" label="Cancelar" class="p-button-secondary"></button>
    <button pButton (click)="deletePizzaOrder()" label="Sim" class="p-button-danger"></button>
  </ng-template>
</p-dialog>
