<div class="p-grid p-fluid p-jc-center p-ai-center login">
  <div class="p-col-12 d-flex">
    <p-card class="p-shadow-4">
      <img src="../../../assets/image/home-logo.png" alt="" class="login-logo">
      <h2>Gimme Pizza</h2>
      <hr>
      <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm.value)">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Usuário" formControlName="username" name="username"
            [(ngModel)]="username">
        </div>
        <div class="p-inputgroup p-my-2">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input type="password" pInputText placeholder="Senha" formControlName="password" name="password"
            [(ngModel)]="password">
        </div>
        <button pButton label="Entrar" type="submit" class="p-button-warning login-btn"
          [disabled]="loginForm.invalid || isSubmittingLoginForm">
          <i *ngIf="isSubmittingLoginForm" class="pi pi-spin pi-spinner p-mr-1"></i>
        </button>
      </form>
    </p-card>
  </div>
</div>
