.login {
  height: 635px;
  text-align: center;

  h2 {
    margin: 0px;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
}

.login-logo {
  width: 125px;
  height: auto;
}

.login-btn {
  display: block;
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.p-card {
  color: #fff;
  background: #dd4b39;
  width: 350px;
}

.p-inputgroup-addon {
  background: #fcd870;
  color: #333;
  border-top: #fcd870;
  border-left: #fcd870;
  border-bottom: #fcd870;
}

.p-inputtext:enabled:focus {
  box-shadow: none;
  border-color: #fcd870;
}
