.header {
  background-color: #dd4b39;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 100px;

  a {
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    letter-spacing: 0.4px;
    transition: all 0.3s;
    cursor: pointer;
  }

  a:hover {
    color: #f5c6c0;
  }
}
