<div class="header" *ngIf="isLoggedIn">
  <div class="links">
    <a [routerLink]="['/home']" class="p-mr-3"><i class="pi pi-home"></i> Início</a>
    <a [routerLink]="['/clients']" class="p-mr-3"><i class="pi pi-users"></i> Clientes</a>
    <a [routerLink]="['/pizza-orders']"><i class="pi pi-tags"></i> Pedidos</a>
  </div>
</div>
