<!-- Page Title -->
<app-page-title [pageTitle]="{icon: 'pi pi-users', title: 'Clientes'}"></app-page-title>

<!-- Content -->
<p-card>
  <div class="p-mb-3">
    <!-- Toolbar -->
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <app-export-data [tableData]="exportTableData" [columns]="columns" [docName]="'Tabela-Clientes'">
        </app-export-data>
      </div>
      <div class="p-toolbar-group-right">
        <button pButton class="p-button-raised p-button-warning" (click)="addClient()" label="Adicionar Cliente">
          <i class="pi pi-user-plus p-mr-2"></i>
        </button>
      </div>
    </p-toolbar>
  </div>

  <!-- Table -->
  <app-datatable [columns]="columns" [tableData]="tableData" (viewItem)="viewClient($event)"
    (editItem)="editClient($event)" (deleteItem)="deleteClientDialog($event)"></app-datatable>
</p-card>

<!-- modal view client -->
<app-client-modal *ngIf="client" [client]="client" (delete)="deleteClient($event)"
  (closeVModal)="viewClientModal=$event" (closeDModal)="deleteClientModal=$event" [viewClientModal]="viewClientModal"
  [deleteClientModal]="deleteClientModal">
</app-client-modal>
