<!-- Page Title -->
<app-page-title [pageTitle]="{icon: 'pi pi-tag', title: 'Pedido'}" [isForm]="true" [isEditing]="isEditing">
</app-page-title>
<!-- *ngFor="let pizza of pizzaOrderForm.get('pizzas').value; let i = index" -->
<p-card>
  <form [formGroup]="pizzaOrderForm" (ngSubmit)="submitPizzaOrderForm(pizzaOrderForm.value)">
    <p-tabView [activeIndex]="tabIndex">
      <p-tabPanel header="Pedido" leftIcon="pi pi-tag">
        <div class="p-grid p-jc-between" formArrayName="pizzas">
          <ng-container formGroupName="0">
            <div class="p-col-5">
              <div class="p-fluid p-mt-4">
                <!-- halfNHalf -->
                <div class="p-field p-flex-column p-d-flex">
                  <label for="halfNHalf">Pizza meio a meio?</label>
                  <p-inputSwitch id="halfNHalf" formControlName="halfNHalf"></p-inputSwitch>
                </div>
                <!-- mainFlavor -->
                <div class="p-field">
                  <label for="mainFlavor">Sabor 1</label>
                  <p-dropdown id="mainFlavor" [options]="flavors" placeholder="Escolha um sabor"
                    formControlName="mainFlavor" required>
                  </p-dropdown>
                </div>
                <!-- secondaryFlavor -->
                <div class="p-field" *ngIf="pizzaOrderForm.get('pizzas').get([0]).get('halfNHalf').value === true">
                  <label for="secondaryFlavor">Sabor 2</label>
                  <p-dropdown id="secondaryFlavor" [options]="flavors" placeholder="Escolha um sabor"
                    formControlName="secondaryFlavor"></p-dropdown>
                </div>
                <!-- size -->
                <div class="p-field">
                  <label for="sizes">Tamanho</label>
                  <p-dropdown id="sizes" [options]="sizes" placeholder="Escolha um tamanho" formControlName="size"
                    required>
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="p-col-5">
              <div class="p-fluid p-mt-4">
                <!-- crust -->
                <label for="sizes">Borda</label>
                <div class="p-field">
                  <div class="p-d-flex p-mt-2">
                    <div class="p-field-radiobutton">
                      <label for="fina" class="p-mr-1">Fina</label>
                      <p-radioButton name="crust" value="FINA" inputId="fina" formControlName="crust"
                        [(ngModel)]="selectedCrust"></p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                      <label for="grossa" class="p-mr-1">Grossa</label>
                      <p-radioButton name="crust" value="GROSSA" inputId="grossa" formControlName="crust"
                        [(ngModel)]="selectedCrust">
                      </p-radioButton>
                    </div>
                  </div>
                </div>
                <!-- extraSauce -->
                <div class="p-field p-flex-column p-d-flex">
                  <label for="extraSauce">Molho extra?</label>
                  <p-inputSwitch id="extraSauce" formControlName="extraSauce"></p-inputSwitch>
                </div>
                <!-- note -->
                <div class="p-field">
                  <label for="note">Observações</label>
                  <textarea id="note" [rows]="4" pInputTextarea autoResize="autoResize"
                    formControlName="note"></textarea>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </p-tabPanel>
      <!-- tab 2 -->
      <p-tabPanel header="Cliente" leftIcon="pi pi-user">
        <div class="p-grid">
          <div class="p-col-4">
            <div class="p-fluid p-mt-4">
              <div class="p-field">
                <label for="clientId">Cliente ja possui cadastro?</label>
                <div class="p-d-flex">
                  <p-inputMask id="clientId" mask="999-99-9999" placeholder="Digite o CPF"
                    [(ngModel)]="clientIdentityId" [ngModelOptions]="{standalone: true}"></p-inputMask>
                  <button pButton label="Buscar" icon="pi pi-search" class="p-button-outline p-button-warning p-ml-1"
                    [style]="{'width': '115px'}" (click)="searchClient()" [disabled]="clientIdentityId.length < 11"
                    type="button"></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- client form -->
        <div class="p-grid p-jc-between" formGroupName="client">
          <div class="p-col-4">
            <h3>Dados Pessoais</h3>
            <hr>
            <div class="p-fluid p-mt-4">
              <!-- fullName -->
              <div class="p-field">
                <label for="fullName">Nome Completo</label>
                <input id="fullName" type="text" pInputText formControlName="fullName" required>
                <div
                  *ngIf="pizzaOrderForm.get('client').get('fullName').invalid && pizzaOrderForm.get('client').get('fullName').touched">
                  <small id="fullName" class="p-invalid">Nome é obrigatório</small>
                </div>
              </div>
              <!-- identityId -->
              <div class="p-field">
                <label for="identityId">CPF</label>
                <p-inputMask id="identityId" mask="999-99-9999" formControlName="identityId">
                </p-inputMask>
                <div
                  *ngIf="pizzaOrderForm.get('client').get('identityId').invalid && pizzaOrderForm.get('client').get('identityId').touched">
                  <small id="identityId" class="p-invalid">CPF é obrigatório</small>
                </div>
              </div>
              <!-- contacts -->
              <div formGroupName="clientContacts">
                <!-- email -->
                <div class="p-field">
                  <label for="email">E-mail</label>
                  <input id="email" type="text" pInputText formControlName="email">
                  <div *ngIf="pizzaOrderForm.get('client').get('clientContacts').get('email').invalid 
                      && pizzaOrderForm.get('client').get('clientContacts').get('email').touched">
                    <small id="email" class="p-invalid">E-mail é obrigatório</small>
                  </div>
                </div>
                <!-- phone -->
                <div class="p-field">
                  <label for="phone">Telefone</label>
                  <p-inputMask id="phone" mask="(99) 99999-9999" formControlName="phone">
                  </p-inputMask>
                  <div *ngIf="pizzaOrderForm.get('client').get('clientContacts').get('phone').invalid 
                      && pizzaOrderForm.get('client').get('clientContacts').get('phone').touched">
                    <small id="phone" class="p-invalid">Telefone é obrigatório</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-col-7">
            <h3>Endereço</h3>
            <hr>
            <div class="p-fluid p-mt-4" formGroupName="clientAddress">
              <!-- street -->
              <div class="p-field">
                <label for="streetAddress">Endereço</label>
                <input id="streetAddress" type="text" pInputText formControlName="streetAddress">
                <div
                  *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('streetAddress').invalid && pizzaOrderForm.get('client').get('clientAddress').get('streetAddress').touched">
                  <small id="streetAddress" class="p-invalid">Endereço é obrigatório</small>
                </div>
              </div>
              <div class="p-grid">
                <!-- number -->
                <div class="p-col-8">
                  <div class="p-field">
                    <label for="number">Número</label>
                    <p-inputNumber id="number" [useGrouping]="false" formControlName="number"></p-inputNumber>
                    <div
                      *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('number').invalid && pizzaOrderForm.get('client').get('clientAddress').get('number').touched">
                      <small id="number" class="p-invalid">Número é obrigatório</small>
                    </div>
                  </div>
                </div>
                <!-- complement -->
                <div class="p-col-4">
                  <div class="p-field">
                    <label for="complement">Complemento</label>
                    <input id="complement" type="text" pInputText formControlName="complement">
                  </div>
                </div>
              </div>
              <div class="p-grid">
                <!-- city -->
                <div class="p-col-8">
                  <div class="p-field">
                    <label for="city">Cidade</label>
                    <input id="city" type="text" pInputText formControlName="city">
                    <div
                      *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('city').invalid && pizzaOrderForm.get('client').get('clientAddress').get('city').touched">
                      <small id="city" class="p-invalid">Cidade é obrigatório</small>
                    </div>
                  </div>
                </div>
                <!-- state -->
                <div class="p-col-4">
                  <div class="p-field">
                    <label for="state">Estado</label>
                    <input id="state" type="text" pInputText formControlName="state">
                    <div
                      *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('state').invalid && pizzaOrderForm.get('client').get('clientAddress').get('state').touched">
                      <small id="state" class="p-invalid">Estado é obrigatório</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-grid">
                <!-- neighborhood -->
                <div class="p-col-8">
                  <div class="p-field">
                    <label for="neighborhood">Bairro</label>
                    <input id="neighborhood" type="text" pInputText formControlName="neighborhood">
                    <div
                      *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('neighborhood').invalid && pizzaOrderForm.get('client').get('clientAddress').get('neighborhood').touched">
                      <small id="neighborhood" class="p-invalid">Bairro é obrigatório</small>
                    </div>
                  </div>
                </div>
                <!-- zipCode -->
                <div class="p-col-4">
                  <div class="p-field">
                    <label for="zipCode">CEP</label>
                    <p-inputMask id="zipCode" mask="99999-999" formControlName="zipCode">
                    </p-inputMask>
                    <div
                      *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('zipCode').invalid && pizzaOrderForm.get('client').get('clientAddress').get('zipCode').touched">
                      <small id="zipCode" class="p-invalid">CEP é obrigatório</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </p-tabPanel>
      <p-tabPanel header="Endereço" leftIcon="pi pi-calendar-plus">
        <div class="p-grid p-jc-between">
          <div class="p-col-4">
            <div class="p-fluid p-mt-4">
              <h3>Agendar</h3>
              <hr>
              <!-- scheduled -->
              <div class="p-field p-flex-column p-d-flex">
                <label for="scheduled">Pedido agendado?</label>
                <p-inputSwitch id="scheduled" formControlName="scheduled"></p-inputSwitch>
              </div>
              <!-- scheduled date -->
              <div class="p-field">
                <label for="disabledays">Selecione uma data</label>
                <p-calendar [(ngModel)]="calendarDate" [disabledDays]="[0]" [readonlyInput]="true" [showIcon]="true"
                  inputId="disabledays" [disabled]="pizzaOrderForm.get('scheduled').value === false"
                  formControlName="scheduledDate" [minDate]="nowDate">
                </p-calendar>
              </div>
              <!-- scheduled time -->
              <div class="p-field">
                <label for="timeonly">Selecione um horário</label>
                <p-calendar [(ngModel)]="timeDate" [timeOnly]="true" inputId="timeonly"
                  [disabled]="pizzaOrderForm.get('scheduled').value === false" formControlName="scheduledTime">
                </p-calendar>
              </div>
            </div>
          </div>
          <div class="p-col-6">
            <div class="p-fluid p-mt-4">
              <h3>Endereço de entrega</h3>
              <hr>
              <div class="p-field p-flex-column p-d-flex" *ngIf="client">
                <label for="sameAddress">Endereço de entrega é o mesmo do cliente?</label>
                <p-inputSwitch id="sameAddress" [(ngModel)]="isSameAddress" [ngModelOptions]="{standalone: true}"
                  (onChange)="patchValueDeliveryAddressForm()">
                </p-inputSwitch>
              </div>
              <div class="p-fluid p-mt-4" formGroupName="deliveryAddress">
                <!-- street -->
                <div class="p-field">
                  <label for="streetAddress">Endereço</label>
                  <input id="streetAddress" type="text" pInputText formControlName="streetAddress">
                  <div
                    *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('streetAddress').invalid && pizzaOrderForm.get('client').get('clientAddress').get('streetAddress').touched">
                    <small id="streetAddress" class="p-invalid">Endereço é obrigatório</small>
                  </div>
                </div>
                <div class="p-grid">
                  <!-- number -->
                  <div class="p-col-8">
                    <div class="p-field">
                      <label for="number">Número</label>
                      <p-inputNumber id="number" [useGrouping]="false" formControlName="number"></p-inputNumber>
                      <div
                        *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('number').invalid && pizzaOrderForm.get('client').get('clientAddress').get('number').touched">
                        <small id="number" class="p-invalid">Número é obrigatório</small>
                      </div>
                    </div>
                  </div>
                  <!-- complement -->
                  <div class="p-col-4">
                    <div class="p-field">
                      <label for="complement">Complemento</label>
                      <input id="complement" type="text" pInputText formControlName="complement">
                    </div>
                  </div>
                </div>
                <div class="p-grid">
                  <!-- city -->
                  <div class="p-col-8">
                    <div class="p-field">
                      <label for="city">Cidade</label>
                      <input id="city" type="text" pInputText formControlName="city">
                      <div
                        *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('city').invalid && pizzaOrderForm.get('client').get('clientAddress').get('city').touched">
                        <small id="city" class="p-invalid">Cidade é obrigatório</small>
                      </div>
                    </div>
                  </div>
                  <!-- state -->
                  <div class="p-col-4">
                    <div class="p-field">
                      <label for="state">Estado</label>
                      <input id="state" type="text" pInputText formControlName="state">
                      <div
                        *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('state').invalid && pizzaOrderForm.get('client').get('clientAddress').get('state').touched">
                        <small id="state" class="p-invalid">Estado é obrigatório</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-grid">
                  <!-- neighborhood -->
                  <div class="p-col-8">
                    <div class="p-field">
                      <label for="neighborhood">Bairro</label>
                      <input id="neighborhood" type="text" pInputText formControlName="neighborhood">
                      <div
                        *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('neighborhood').invalid && pizzaOrderForm.get('client').get('clientAddress').get('neighborhood').touched">
                        <small id="neighborhood" class="p-invalid">Bairro é obrigatório</small>
                      </div>
                    </div>
                  </div>
                  <!-- zipCode -->
                  <div class="p-col-4">
                    <div class="p-field">
                      <label for="zipCode">CEP</label>
                      <p-inputMask id="zipCode" mask="99999-999" formControlName="zipCode">
                      </p-inputMask>
                      <div
                        *ngIf="pizzaOrderForm.get('client').get('clientAddress').get('zipCode').invalid && pizzaOrderForm.get('client').get('clientAddress').get('zipCode').touched">
                        <small id="zipCode" class="p-invalid">CEP é obrigatório</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>

    <!-- btns -->
    <div class="p-grid p-jc-end p-mt-4">
      <button pButton (click)="cancelPizzaOrder()" label="Cancelar" class="p-mr-2 p-button-danger p-button-outlined"
        type="button"></button>
      <button pButton icon="pi pi-chevron-left" (click)="prevTab()" label="Voltar" class="p-mr-2 p-button-secondary"
        [disabled]="tabIndex === 0" type="button"></button>
      <button pButton icon="pi pi-chevron-right" class="p-button-secondary" (click)="nextTab()" label="Avançar"
        iconPos="right" *ngIf="tabIndex < 2" type="button"></button>
      <button pButton icon="pi pi-check" class="p-button-success" label="Salvar" iconPos="right" *ngIf="tabIndex === 2"
        type="submit"></button>
    </div>

  </form>
</p-card>

<!-- loader -->
<app-loader [text]="'Carregando informações'" *ngIf="isLoading"></app-loader>
