<!-- header -->
<app-header></app-header>
<!-- content -->
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<!-- footer -->
<app-footer></app-footer>

<!-- simple notifications -->
<simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
