<!-- Page Title -->
<app-page-title [pageTitle]="{icon: 'pi pi-user', title: 'Cliente'}" [isForm]="true" [isEditing]="isEditing">
</app-page-title>

<!-- Content -->
<p-card>
  <form [formGroup]="clientForm" (ngSubmit)="submitClientForm(clientForm.value)" novalidate>
    <div class="p-grid p-jc-between">
      <div class="p-col-4">
        <h3>Dados Pessoais</h3>
        <hr>
        <div class="p-fluid p-mt-4">
          <!-- fullName -->
          <div class="p-field">
            <label for="fullName">Nome Completo</label>
            <input id="fullName" type="text" pInputText formControlName="fullName" required>
            <div *ngIf="clientForm.get('fullName').invalid && clientForm.get('fullName').touched">
              <small id="fullName" class="p-invalid">Nome é obrigatório</small>
            </div>
          </div>
          <!-- identityId -->
          <div class="p-field">
            <label for="identityId">CPF</label>
            <p-inputMask id="identityId" mask="999-99-9999" formControlName="identityId">
            </p-inputMask>
            <div *ngIf="clientForm.get('identityId').invalid && clientForm.get('identityId').touched">
              <small id="identityId" class="p-invalid">CPF é obrigatório</small>
            </div>
          </div>
          <!-- contacts -->
          <div formGroupName="clientContacts">
            <!-- email -->
            <div class="p-field">
              <label for="email">E-mail</label>
              <input id="email" type="text" pInputText formControlName="email">
              <div *ngIf="clientForm.get('clientContacts').get('email').invalid 
                && clientForm.get('clientContacts').get('email').touched">
                <small id="email" class="p-invalid">E-mail é obrigatório</small>
              </div>
            </div>
            <!-- phone -->
            <div class="p-field">
              <label for="phone">Telefone</label>
              <p-inputMask id="phone" mask="(99) 99999-9999" formControlName="phone">
              </p-inputMask>
              <div *ngIf="clientForm.get('clientContacts').get('phone').invalid 
                && clientForm.get('clientContacts').get('phone').touched">
                <small id="phone" class="p-invalid">Telefone é obrigatório</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-7">
        <h3>Endereço</h3>
        <hr>
        <div class="p-fluid p-mt-4" formGroupName="clientAddress">
          <!-- street -->
          <div class="p-field">
            <label for="streetAddress">Endereço</label>
            <input id="streetAddress" type="text" pInputText formControlName="streetAddress">
            <div
              *ngIf="clientForm.get('clientAddress').get('streetAddress').invalid && clientForm.get('clientAddress').get('streetAddress').touched">
              <small id="streetAddress" class="p-invalid">Endereço é obrigatório</small>
            </div>
          </div>
          <div class="p-grid">
            <!-- number -->
            <div class="p-col-8">
              <div class="p-field">
                <label for="number">Número</label>
                <p-inputNumber id="number" [useGrouping]="false" formControlName="number"></p-inputNumber>
                <div
                  *ngIf="clientForm.get('clientAddress').get('number').invalid && clientForm.get('clientAddress').get('number').touched">
                  <small id="number" class="p-invalid">Número é obrigatório</small>
                </div>
              </div>
            </div>
            <!-- complement -->
            <div class="p-col-4">
              <div class="p-field">
                <label for="complement">Complemento</label>
                <input id="complement" type="text" pInputText formControlName="complement">
              </div>
            </div>
          </div>
          <div class="p-grid">
            <!-- city -->
            <div class="p-col-8">
              <div class="p-field">
                <label for="city">Cidade</label>
                <input id="city" type="text" pInputText formControlName="city">
                <div
                  *ngIf="clientForm.get('clientAddress').get('city').invalid && clientForm.get('clientAddress').get('city').touched">
                  <small id="city" class="p-invalid">Cidade é obrigatório</small>
                </div>
              </div>
            </div>
            <!-- state -->
            <div class="p-col-4">
              <div class="p-field">
                <label for="state">Estado</label>
                <input id="state" type="text" pInputText formControlName="state">
                <div
                  *ngIf="clientForm.get('clientAddress').get('state').invalid && clientForm.get('clientAddress').get('state').touched">
                  <small id="state" class="p-invalid">Estado é obrigatório</small>
                </div>
              </div>
            </div>
          </div>
          <div class="p-grid">
            <!-- neighborhood -->
            <div class="p-col-8">
              <div class="p-field">
                <label for="neighborhood">Bairro</label>
                <input id="neighborhood" type="text" pInputText formControlName="neighborhood">
                <div
                  *ngIf="clientForm.get('clientAddress').get('neighborhood').invalid && clientForm.get('clientAddress').get('neighborhood').touched">
                  <small id="neighborhood" class="p-invalid">Bairro é obrigatório</small>
                </div>
              </div>
            </div>
            <!-- zipCode -->
            <div class="p-col-4">
              <div class="p-field">
                <label for="zipCode">CEP</label>
                <p-inputMask id="zipCode" mask="99999-999" formControlName="zipCode">
                </p-inputMask>
                <div
                  *ngIf="clientForm.get('clientAddress').get('zipCode').invalid && clientForm.get('clientAddress').get('zipCode').touched">
                  <small id="zipCode" class="p-invalid">CEP é obrigatório</small>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- buttons -->
    <div class="p-grid p-jc-end p-mt-4">
      <button pButton label="Cancelar" icon="pi pi-times" class="p-mr-2 p-button-secondary p-button-outlined"
        (click)="cancelClientForm()">
      </button>
      <button pButton label="Salvar" icon="pi pi-check" class="p-button-success p-button-raised" type="submit"
        [disabled]="clientForm.invalid"></button>
    </div>
  </form>
</p-card>


<!-- loader -->
<app-loader [text]="'Aguarde...'" *ngIf="isLoading"></app-loader>
