h3 {
  margin: 0px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.p-col-8,
.p-col-4 {
  padding: 0.3rem;
}
