<div class="home">
  <div class="box">
    <img src="../../../assets/image/home-logo.png" alt="">
    <h1>GIMME PIZZA</h1>
    <h2>Bem-vindo!</h2>
    <p>Sistema de controle de pedidos e delivery de pizza.</p>
  </div>
</div>
