<p-table #dt [columns]="columns" [value]="filteredData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
  [totalRecords]="totalRecords" [autoLayout]="true"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-responsive-demo">

  <!-- table headers -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let column of columns" [pSortableColumn]="column.hasSort ? column.field : null">
        {{column.header}}
        <p-sortIcon *ngIf="column.hasSort" [field]="column.field"></p-sortIcon>
      </th>
    </tr>
    <!-- filters -->
    <tr>
      <th *ngFor="let column of columns; let i = index">
        <input *ngIf="column.hasFilter && !column.subfield" pInputText type="text" placeholder="Buscar..."
          class="p-column-filter" (input)="dt.filter($event.target.value, column.field, 'startsWith')">
        <input *ngIf="column.hasFilter && column.subfield" pInputText type="text" placeholder="Buscar..."
          class="p-column-filter" (keyup)="filterSubfield($event.target.value, column.field, column.subfield)">
      </th>
    </tr>
  </ng-template>

  <!-- table body -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let column of columns" [pEditableColumn]="column.field === 'status'">
        <div *ngIf="column.subfield; then subfield else field"></div>
        <ng-template #subfield>{{rowData[column.field][column.subfield]}}</ng-template>
        <ng-template #field>
          <div *ngIf="column.field !== 'status'">
            {{rowData[column.field]}}
          </div>
          <p-cellEditor *ngIf="column.field === 'status'">
            <ng-template pTemplate="input">
              <p-dropdown (onChange)="changeTableItemStatus(rowData)" [options]="orderStatus"
                [(ngModel)]="rowData[column.field]" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData[column.field]}}
            </ng-template>
          </p-cellEditor>

        </ng-template>
        <!-- action btns -->
        <div *ngIf="column.hasActions">
          <button pButton pTooltip="Vizualizar" tooltipPosition="top" pRipple icon="pi pi-eye"
            class="p-button-secondary p-button-text p-button-sm p-mr-2" (click)="viewTableItem(rowData)">
          </button>
          <button pButton pTooltip="Editar" tooltipPosition="top" pRipple icon="pi pi-pencil"
            class="p-button-info p-button-text p-button-sm p-mr-2" (click)="editTableItem(rowData)">
          </button>
          <button pButton pTooltip="Excluir" tooltipPosition="top" pRipple icon="pi pi-trash"
            class="p-button-danger p-button-text p-button-sm" (click)="deleteTableItem(rowData)">
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- loader -->
<app-loader [text]="'Carregando informações'" *ngIf="isLoading"></app-loader>
<app-loader [text]="'Aguarde...'" *ngIf="isStatusChanged"></app-loader>
