  <div class="page-title p-mb-3 p-shadow-1">
    <i [class]="pageTitle.icon" color="primary"></i>
    <h1 *ngIf="!isForm && !isEditing">{{pageTitle.title}}</h1>
    <h1 *ngIf="isForm && !isEditing">Cadastrar {{pageTitle.title}}</h1>
    <h1 *ngIf="isForm && isEditing">Editar {{pageTitle.title}}</h1>
  </div>
