.page-title {
  display: inline-flex;
  align-items: baseline;
  color: #444;
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;

  h1 {
    margin: 0px;
  }

  i {
    margin-right: 10px;
    font-size: 30px;
    color: #dd4b39;
  }
}
