.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(212, 212, 212, 0.7);
  z-index: 99;

  p {
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: #dd4b39;
  }
  40% {
    stroke: #dd4b39;
  }
  66% {
    stroke: #dd4b39;
  }
  80%,
  90% {
    stroke: #dd4b39;
  }
}
