/* You can add global styles to this file, and also import other style files */
html,
body {
  overflow-x: hidden;
}

body {
  background: #ecf0f5;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
}

//GLOBAL OVERRIDE
.p-button-warning {
  background: #fcd870 !important;
  border-color: #fcd870 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #dd4b39;
  border-color: #dd4b39;
  color: #ffffff;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #dd4b39;
  color: #dd4b39;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #dd4b39;
  background: #dd4b39;
}
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover
  .p-inputswitch-slider {
  background: #dd4b39;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #dd4b39;
}
.p-calendar-w-btn .p-datepicker-trigger {
  background: #dd4b39;
  border-color: #dd4b39;
}
.p-button.p-fileupload-choose {
  background: transparent;
  color: #dd4b39;
  border-color: #dd4b39;
}
.p-fileupload-choose:not(.p-disabled):hover {
  background: transparent;
  color: #dd4b39;
  border-color: #dd4b39;
}
