<!-- Page Title -->
<app-page-title [pageTitle]="{icon: 'pi pi-tags', title: 'Pedidos'}"></app-page-title>

<!-- Content -->
<p-card>
  <div class="p-mb-3">
    <!-- Toolbar -->
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <app-import-data class="p-mr-1" (isLoading)="isLoading = $event"></app-import-data>
        <app-export-data [tableData]="exportTableData" [columns]="columns" [docName]="'Tabela-Pedidos'">
        </app-export-data>
      </div>
      <div class="p-toolbar-group-right">
        <button pButton class="p-button-raised p-button-warning" (click)="addPizzaOrder()" label="Adicionar Pedido">
          <i class="pi pi-plus-circle p-mr-1"></i>
        </button>
      </div>
    </p-toolbar>
  </div>

  <!-- Table -->
  <app-datatable [columns]="columns" [orderStatus]="orderStatus" [tableData]="tableData"
    [isStatusChanged]="isStatusChanged" (viewItem)="viewPizzaOrder($event)" (editItem)="editPizzaOrder($event)"
    (deleteItem)="deletePizzaOrderDialog($event)" (statusItem)="changePizzaOrderStatus($event)"></app-datatable>
</p-card>

<!-- modal view pizza-order -->
<app-pizza-orders-modal *ngIf="pizzaOrder" [pizzaOrder]="pizzaOrder" (delete)="deletePizzaOrder($event)"
  (closeVModal)="viewPizzaOrderModal=$event" (closeDModal)="deletePizzaOrderModal=$event"
  [viewPizzaOrderModal]="viewPizzaOrderModal" [deletePizzaOrderModal]="deletePizzaOrderModal">
</app-pizza-orders-modal>

<!-- loader -->
<app-loader [text]="'Aguarde...'" *ngIf="isLoading"></app-loader>
