<!-- modal view client -->
<p-dialog header="Detalhes do cliente" [(visible)]="viewClientModal" [modal]="true" [style]="{width: '65vw'}"
  *ngIf="client">
  <div>
    <div class="p-grid">
      <div class="p-col-6">
        <h3>Dados Pessoais</h3>
        <hr>
        <p><strong>Nome: </strong>{{client.fullName}}</p>
        <p><strong>CPF: </strong>{{client.identityId}}</p>
        <p><strong>E-mail: </strong>{{client.clientContacts.email}}</p>
        <p><strong>Telefone: </strong>{{client.clientContacts.phone}}</p>
      </div>
      <div class="p-col-6">
        <h3>Endereço</h3>
        <hr>
        <p><strong>Endereço: </strong>{{client.clientAddress.streetAddress}}</p>
        <p><strong>Número: </strong>{{client.clientAddress.number}}</p>
        <p><strong>Complemento: </strong>{{client.clientAddress.complement}}</p>
        <p><strong>Bairro: </strong>{{client.clientAddress.neighborhood}}</p>
        <p><strong>Cidade: </strong>{{client.clientAddress.city}}</p>
        <p><strong>Estado: </strong>{{client.clientAddress.state}}</p>
        <p><strong>CEP: </strong>{{client.clientAddress.zipCode}}</p>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton (click)="closeViewModal()" label="Ok" class="p-button-warning"></button>
  </ng-template>
</p-dialog>

<!-- modal delete client -->
<p-dialog header="Atenção!" [(visible)]="deleteClientModal" [modal]="true" [style]="{width: '35vw'}" *ngIf="client">
  <div>
    <p>Tem certeza que deseja excluir este cliente?</p>
  </div>
  <ng-template pTemplate="footer">
    <button pButton (click)="closeDeleteModal()" label="Cancelar" class="p-button-secondary"></button>
    <button pButton (click)="deleteClient()" label="Sim" class="p-button-danger"></button>
  </ng-template>
</p-dialog>
